#@layout("模版管理")
#define main()
<body class="timo-layout-page">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i>模版管理</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <div class="pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline">
                        <label class="layui-form-label">事件关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="wechatTemplate.eventKeywords" value="#(wechatTemplate.eventKeywords ??)" placeholder="请输入事件关键字" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn timo-search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="pull-right screen-btn-group">
                    <button class="layui-btn open-popup" data-title="添加模版" data-url="#(ctxAd)/template/add"  data-size="500,500" ><i class="fa fa-plus"></i>添加</button>
                    <div class="btn-group">
                        <button class="layui-btn">操作<span class="caret"></span></button>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        	<dd><a class="ajax-status" href="#(ctxAd)/template/status/1">启用</a></dd>
                            <dd><a class="ajax-status" href="#(ctxAd)/template/status/0">禁用</a></dd>
                            <dd><a class="ajax-status" href="#(ctxAd)/template/delete">删除</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox"><i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th>事件名称(类型)</th>
                    <th>输入关键字</th>
                    <th>回复类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                #for(item : page.list)
                <tr>
                    <td><label class="timo-checkbox"><input type="checkbox" value="#(item.id)"><i class="layui-icon layui-icon-ok"></i></label></td>
                    <td>#if(item.eventCode ??)#(enumMap.get(item.eventCode))#else用户事件#end&nbsp;&nbsp;<span class="layui-badge #if(item.eventCode ??)layui-bg-green#end">#(joyDict.getDictLabel(item.eventType.toString(),'template_rule_type',''))</span></td>
                    <td>#(item.eventKeywords)</td>
                    <td>#(joyDict.getDictLabel(item.responseType.toString(),'template_response_type',''))</td>
                    <td>#(joyDict.getDictLabel(item.status.toString(),'status','未知'))</td>
                    <td>
                        <a class="open-popup" data-title="编辑模版" data-url="#(ctxAd)/template/edit?id=#(item.id)"  data-size="500,500" href="#">编辑</a>
                        #if(!item.eventCode ??)
                        <a class="ajax-get" data-msg="您是否确认删除" href="#(ctxAd)/template/delete?id=#(item.id)">删除</a>
                        #end
                    </td>
                </tr>
                #end
                </tbody>
            </table>
            <!-- page -->
            #include("../../common/page.html", url=pageUrl)
            <!-- page end -->
        </div>
    </div>
</body>
#end